<ion-view title="账户设置">
    <ion-nav-bar class="bar-energized bar bar-header nav-bar nav-title-slide-ios7 disable-user-behavior">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-left" return></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <section class="zh_settingUser_Index common4">
            <main class="content"><!-- 主体内容 -->
                <div class="row row1 common-marginTop44">
                    <img src="../styles/private/img/touxiang.jpg" class="common-circle">
            <span>用户昵称...<br>
            欢迎您关注!</span>
                </div>
                <div class="row row2">账号修改</div>
                <div class="row row3">
                    <a class="item item-icon-left common-col-radius" href="zh_settingInfo.html">
                        <i class="icon ion-share"></i>
                        修改账户信息
                        <i class="icon-right ion-chevron-right common-btn-clear-border"></i>
                        <div class="common-clear"></div>
                    </a>
                </div>
                <div class="row row3">
                    <a class="item item-icon-left common-col-radius" href="#">
                        <i class="icon ion-share"></i>
                        修改配送地址
                        <i class="icon-right ion-chevron-right common-btn-clear-border"></i>
                        <div class="common-clear"></div>
                    </a>
                </div>
                <div class="row row2">悦客会</div>
                <div class="row row3">
                    <a class="item item-icon-left common-col-radius" href="">
                        <i class="icon ion-share"></i>
                        会员卡
                        <i class="icon-right ion-chevron-right common-btn-clear-border"></i>
                        <div class="common-clear"></div>
                    </a>
                </div>
                <div class="row row3">
                    <a class="item item-icon-left common-col-radius" href="#">
                        <i class="icon ion-share"></i>
                        我的积分
                        <i class="icon-right ion-chevron-right common-btn-clear-border"></i>
                        <div class="common-clear"></div>
                    </a>
                </div>
                <div class="row row3">
                    <a class="item item-icon-left common-col-radius" href="">
                        <i class="icon ion-share"></i>
                        我的优惠劵
                        <i class="icon-right ion-chevron-right common-btn-clear-border"></i>
                        <div class="common-clear"></div>
                    </a>
                </div>
                <div class="row row3">
                    <a class="item item-icon-left common-col-radius" href="#">
                        <i class="icon ion-share"></i>
                        我的订单
                        <i class="icon-right ion-chevron-right common-btn-clear-border"></i>
                        <div class="common-clear"></div>
                    </a>
                </div>
                <div class="row row2">全民经纪人</div>
                <div class="row row3">
                    <a class="item item-icon-left common-col-radius" href="base_bindCash.html">
                        <i class="icon ion-share"></i>
                        修改绑定提现账号
                        <i class="icon-right ion-chevron-right common-btn-clear-border"></i>
                        <div class="common-clear"></div>
                    </a>
                </div>
                <div class="row row3">
                    <a class="item item-icon-left common-col-radius" href="#">
                        <i class="icon ion-share"></i>
                        申请提现
                        <i class="icon-right ion-chevron-right common-btn-clear-border"></i>
                        <div class="common-clear"></div>
                    </a>
                </div>
                <div class="row row2">物业信息</div>
                <div class="row row3">
                    <a class="item item-icon-left common-col-radius" href="#">
                        <i class="icon ion-share"></i>
                        修改绑定账号
                        <i class="icon-right ion-chevron-right common-btn-clear-border"></i>
                        <div class="common-clear"></div>
                    </a>
                </div>
                <div class="row row3">
                    <a class="item item-icon-left common-col-radius" href="#">
                        <i class="icon ion-share"></i>
                        配送订单
                        <i class="icon-right ion-chevron-right common-btn-clear-border"></i>
                        <div class="common-clear"></div>
                    </a>
                </div>
                <div class="row row2">生活馆</div>
                <div class="row row3">
                    <a class="item item-icon-left common-col-radius" href="#">
                        <i class="icon ion-share"></i>
                        修改绑定账号
                        <i class="icon-right ion-chevron-right common-btn-clear-border"></i>
                        <div class="common-clear"></div>
                    </a>
                </div>
                <div class="row row3">
                    <a class="item item-icon-left common-col-radius" href="#">
                        <i class="icon ion-share"></i>
                        预定订单
                        <i class="icon-right ion-chevron-right common-btn-clear-border"></i>
                        <div class="common-clear"></div>
                    </a>
                </div>
            </main>
        </section>
    </ion-content>
</ion-view>