<ion-view title="客服中心">
    <ion-nav-bar class="bar-energized bar bar-header nav-bar nav-title-slide-ios7 disable-user-behavior">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-left" return></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="b-c-f5">
        <section class="kf_onlineService_Index">
            <main class="content">
                <!-- 主体内容 -->
                <div class="row1 common-marginTop44">
                    <div class="row1-content">
                        <img src="images/icons/ykh_icons_5.png" class="common-circle">
                    </div>
                </div>
                <div class="ionic-pseudo">
                    <div class="list list-inset common-col-radius">
                        <div ng-repeat="i in CustomeCenterList">
                            <a ui-sref="base.tabs.base_callCenter({PID:{{i.ID}}})" ng-if="i.Type == 1" class="item"><span>{{::i.Name}}</span><i class="ion-ios-arrow-right f-2 c-2"></i></a>
                            <a ng-href="Tel:{{::i.AppContent}}" ng-if="i.Type==2" class="item"><span>{{::i.Name}}</span><span class="icon ion-ios-telephone common-btn-clear-border c-2 f-12"></span></a>
                            <a ng-href="{{::i.AppContent}}" ng-if="i.Type==3" class="item"><span>{{::i.Name}}</span><!--<span class="badge badge-assertive">2</span>--></a>
                        </div>
                    </div>
                </div>
            </main>
        </section>
    </ion-content>
</ion-view>