<ion-view title="修改绑定提现账户">
    <ion-nav-bar class="bar-energized bar bar-header nav-bar nav-title-slide-ios7 disable-user-behavior">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-navicon" leftmenu></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-ios-gear-outline" rightmenu></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <section class="zh_bindCash_Index common4">
            <main class="content"><!-- 主体内容 -->
                <form action="" method="post" class=" common-marginTop44">
                    <div class="row row1">
                        <div class="list list-inset list2">
                            <label class="item item-input">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;银行
                                <input type="text" placeholder="开户行名称">
                            </label>
                            <label class="item item-input">
                                账户/卡号
                                <input type="text" placeholder="">
                            </label>
                            <label class="item item-input">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;账户名
                                <input type="text" placeholder="">
                            </label>
                        </div>
                    </div>
                    <div class="row row2">
                        请使用当前绑定的手机接收短信验证码
                    </div>
                    <div class="row row4">
                        <div class="list list-inset list2 common-col-radius">
                            <div class="left">
                                <input type="text" placeholder="填写短信验证码">
                            </div>
                            <div class="right">发送验证码</div>
                        </div>
                    </div>
                    <div class="row row5">
                        <button class="button button-balanced button-block common-fontSize18 common-col-radius">确定修改</button>
                    </div>
                </form>
            </main>
        </section>
    </ion-content>
</ion-view>