<ion-slide-box data-ng-init="load()">
    <ion-slide class="bg2">
        <div class="pance panHeight">
            <img ng-src="./images/guide/loading2.png" class="max-width" />
        </div>
    </ion-slide>
    <ion-slide class="bg3">
        <div class="pance panHeight">
            <img ng-src="./images/guide/loading3.png" class="max-width" />
        </div>
    </ion-slide>
    <ion-slide class="bg4" on-swipe-left="login()">
        <div class="pance panHeight">
            <img ng-src="./images/guide/loading4.png" class="max-width" />
        </div>
    </ion-slide>
</ion-slide-box>