<ion-view title="找回密码">
    <ion-nav-bar class="bar-energized bar bar-header nav-bar nav-title-slide-ios7 disable-user-behavior">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-left" return></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <section class="zh_returnPwd_Index">
            <main class="content"><!-- 主体内容 -->
                <div class="row1  common-marginTop44">
                    <div class="list list-inset common-col-radius">
                        <label class="item item1">
                            <input type="tel" placeholder="输入您的11位手机号">
                        </label>
                        </label>
                    </div>
                </div>
                <div class="row2">
                    <div class="list list-inset list2 common-col-radius">
                        <div class="left">
                            <input type="text" placeholder="填写短信验证码">
                        </div>
                        <div class="right">发送验证码</div>
                    </div>
                </div>
                <div class="row1 row3">
                    <div class="list list-inset common-col-radius">
                        <label class="item item1">
                            <input type="tel" placeholder="输入新密码">
                        </label>
                        </label>

                    </div>
                </div>
                <div class="row4">
                    <button class="button button-energized button-block common-fontSize18 common-col-radius">确定</button>
                </div>
            </main>
        </section>
    </ion-content>
</ion-view>