<ion-view title="我的地址">
    <ion-nav-bar class="bar-energized bar bar-header nav-bar nav-title-slide-ios7 disable-user-behavior">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-left" return></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="b-c-f5">
        <section class="zh_settingAddress_Index">
            <main class="content"><!-- 主体内容 -->
                <div class="row1">
                    <a href="zh_addAddress_Index.html" class="addAddress">新增地址<span class="icon ion-plus-circled"></span></a>
                    <div class="common-clear"></div>
                </div>
                <div class="row2">
                    <div class="row2-top">
                        收货人：某某某<br>
                        联系电话：19203848997<br>
                        配送区域：奥克斯广场<br>
                        详细地址：奥克斯广场B座1203
                    </div>
                    <div class="row2-bottom">
                        <ul>
                            <li class="del">删除</li>
                            <li class="del">修改</li>
                            <li><input type="checkbox"><span>设为默认</span></li>
                            <div class="common-clear"></div>
                        </ul>
                    </div>
                    <div class="row2-top">
                        收货人：某某某<br>
                        联系电话：19203848997<br>
                        配送区域：奥克斯广场<br>
                        详细地址：奥克斯广场B座1203
                    </div>
                    <div class="row2-bottom">
                        <ul>
                            <li class="del">删除</li>
                            <li class="del">修改</li>
                            <li><input type="checkbox"><span>设为默认</span></li>
                            <div class="common-clear"></div>
                        </ul>
                    </div>
                </div>

            </main>
        </section>
    </ion-content>
</ion-view>