<ion-tabs class="tabs-icon-top tabs-stable pane tabs-bottom tabs-standard">

  <ion-tab title="首页" icon="icon tabs_icons icons_1" ui-sref="base.tabs.index" ng-click="index()">
    <ion-nav-view name="index_tab" animation="slide-out-right"></ion-nav-view>
  </ion-tab>

  <ion-tab title="悦客会" icon="icon tabs_icons icons_2" ui-sref="base.tabs.ykh" ng-click="ykh()">
     <ion-nav-view name="ykh_tab" animation="slide-out-right"></ion-nav-view>
  </ion-tab>

  <ion-tab title="置业" icon="icon tabs_icons icons_3" ui-sref="base.tabs.zy" ng-click="zy()">
    <ion-nav-view name="zy_tab" animation="slide-out-right"></ion-nav-view>
  </ion-tab>

  <ion-tab title="住这里" icon="icon tabs_icons icons_4" ui-sref="base.tabs.zzl" ng-click="zzl()">
    <ion-nav-view name="zzl_tab" animation="slide-out-right"></ion-nav-view>
  </ion-tab>

  <ion-tab title="生活馆" icon="icon tabs_icons icons_5" ui-sref="base.tabs.shg" ng-click="shg()">
    <ion-nav-view name="shg_tab" animation="slide-left-right"></ion-nav-view>
  </ion-tab>

</ion-tabs>