<ion-view title="活动签到">
    <ion-nav-bar class="bar-energized bar bar-header nav-bar nav-title-slide-ios7 disable-user-behavior">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-left" return></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <section class="hd_activityDetails_Index">
            <main class="content"><!-- 主体内容 -->
                <div class="banner common-marginTop44">
                    <div class="slides common-slides" id='slidesbanner' banner>
                        <ul id="slides">
                            <li><a ng-href="javascript:;"><img ng-src="../styles/private/img/banner.jpg" ng-cache ></a></li>
                        </ul>
                        <p class="pager"></p>
                    </div>
                </div>
                <div class="row1">
                    <h4>金阳贺岁,相聚御灵</h4>
                    <h6>2012-12-12 12:12:12</h6>
                    <p>活动内容...</p>
                </div>
                <div class="row1 row2">
                    <h4>报名须知：</h4>
                    <p>收到了快放假速度就放了独守空房收到了快结束了房价的飞机上的</p>
                </div>
                <form action="#" method="post">
                    <div class="row3">
                        <div class="list list-inset common-col-radius">
                            <label class="item item1">
                                活动地点：
                                <input type="text" value="中粮御灵弯活动体验馆">
                            </label>
                            <label class="item item1 item2">
                                报名时间：
                                <div class="time">
                                    <input type="datetime" class="stardTime" placeholder="开始时间" value="2014-12-12 12:12:12">
                                    <span>至</span>
                                    <input type="datetime" class="endTime" placeholder="结束时间" value="2014-12-15 12:12:12">
                                </div>
                            </label>
                            <label class="item item1 item2">
                                活动时间：
                                <div class="time">
                                    <input type="datetime" class="stardTime" placeholder="开始时间" value="2014-12-12 12:12:12">
                                    <span>至</span>
                                    <input type="datetime" class="endTime" placeholder="结束时间" value="2014-12-15 12:12:12">

                                </div>
                            </label>
                            <label class="item item1 item3">
                                活动电话：
                                <input type="tel" value="028-3435345">
                                <span class="icon-right ion-chevron-right common-btn-clear-border"></span>
                            </label>
                            <label class="item item1">
                                &nbsp;&nbsp;&nbsp;&nbsp;报名费：
                                <input type="text" value="免费">
                            </label>
                        </div>
                    </div>
                    <div class="row4 row6">
                        <button class="button button-balanced button-block common-fontSize18 common-col-radius">点击扫描二维码签到</button>
                    </div>
                </form>
            </main>
        </section>
    </ion-content>
</ion-view>