<ion-view title="活动签到">
    <ion-nav-bar class="bar-energized bar bar-header nav-bar nav-title-slide-ios7 disable-user-behavior">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-left" return></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <section class="qm_settleSuccess_Index common2">
            <main class="content"><!-- 主体内容 -->
                <div class="row row1">
                    <img ng-src="../styles/private/images/r-1.png" ng-cache >
                </div>
                <div class="row row2">
                    <div class="row2-content common-col-radius">
                        <span>操作提示：报名成功！</span>
                        <p>
                            活动名称：<br>
                            活动地点：<br>
                            活动时间：<br>
                            参加活动须知：
                        </p>
                    </div>
                </div>
                <div class="row row3">
                    <a ng-href="activity_MyActivity.html" class="button button-block common-fontSize18 common-colorWhite common-col-radius">查看我的活动</a>
                </div>
            </main>
        </section>
    </ion-content>
</ion-view>