<ion-view title="确认签到">
    <ion-nav-bar class="bar-energized bar bar-header nav-bar nav-title-slide-ios7 disable-user-behavior">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-left" return></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <section class="hd_signConfirm_Index">
            <header class="bar-positive bar bar-header"><!-- 头部内容 -->
                <div class="buttons right-buttons"><a class="button icon-left ion-chevron-left common-btn-clear-border"></a></div>
                <h1 class="title ng-binding" style="left: 44px; right: 44px;">签到登记</h1>
            </header><!-- 头部内容 end -->
            <main class="content"><!-- 主体内容 -->
                <div class="row1 common-marginTop44">
                    <img ng-src="../styles/private/images/r-1.png" ng-cache >
            <span class="row1-right">
                <h3>签到登记</h3>
                2012-12-12 12:12:12
            </span>
                </div>
                <div class="row2">
                    <div class="list list-inset common-col-radius">
                        <label class="item item1">
                            活动名称：
                            <input type="text" value="金阳贺岁,相聚御灵">
                        </label>
                        <label class="item item1">
                            报名手机：
                            <input type="tel" placeholder="填写活动报名手机">
                        </label>
                        <label class="item item1">
                            验证码：
                            <input type="text" placeholder="回执短信验证码">
                        </label>
                        <label class="item item1">
                            签到提示：
                            <input type="text" placeholder="签到提示" value="如果您是亲友团，请输入报名人的手机号签到">
                        </label>
                    </div>
                </div>
                <div class="row2 row3">
                    <button class="button button-balanced button-block common-fontSize18 common-col-radius">确认签到</button>
                </div>
            </main>
        </section>
    </ion-content>
</ion-view>