<ion-view title="预定订单详情">
    <ion-nav-bar class="bar-energized bar bar-header nav-bar nav-title-slide-ios7 disable-user-behavior">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-left" return></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <section class="hs_Reserver_Detail">
            <main class="content"><!-- 主体内容 -->
                <div class="back">
                    <img ng-src="../styles/private/images/icon.jpg" ng-cache  >
                    <dl>
                        <dd>会所：<span>御岭湾</span></dd>
                        <dd>预定项目：<span>积分卡拉的肌肤</span></dd>
                        <dd>订单状态：<span>待付款</span></dd>
                    </dl>
                </div>
                <div class="row_top" style="border:none;">
                    <ul>
                        <li>
                            <label>预定项目</label><span class="yuding">我是项目名称啊</span>
                        </li>
                        <li>
                            <label>预定数量</label><span>3小时</span>
                        </li>
                        <li>
                            <label>预约时间</label><span>2014-11-11</span>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <label>预定金额</label><span>￥1000.00</span>
                        </li>
                        <li>
                            <label>&nbsp;&nbsp;&nbsp;&nbsp;折扣价</label><span>￥900.00（9折）</span>
                        </li>
                        <li>
                            <label>&nbsp;&nbsp;&nbsp;&nbsp;预定金</label><span>￥900.00（100%）</span>
                        </li>
                        <li>
                            <label>实际应付</label><span class="fact">￥900.00</span>
                        </li>
                        <li>
                            <label>支付方式</label><span>支付宝支付</span>
                        </li>
                    </ul>
                </div>
                <div class="row_2">
                    <p>预定项目详细使用描述：</p>
                </div>
                <div class="row_3">
                    <ul>
                        <li><a class="button button-energized" ng-href="tel:112">电话咨询</a></li>
                        <li><button class="btnThree button">去支付</button></li>
                    </ul>
                </div>
            </main><!-- 主体内容 end -->
        </section>
    </ion-content>
</ion-view>