<ion-view title="付款成功">
    <ion-nav-bar class="bar-energized bar bar-header nav-bar nav-title-slide-ios7 disable-user-behavior">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-left" return></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <section class="zy_Purchase_Success">
            <div class="row">
                <img ng-src="../styles/private/images/r-1.png" ng-cache >
            </div>
            <div class="row">
                <button class="btnOne button button-block">操作提示:付款成功!</button>
            </div>
            <div class="row">
                <ul>
                    <li><button class="button">查看我的订单</button></li>
                    <li><button class="btnThree button">继续预定</button></li>
                </ul>
            </div>
        </section>
    </ion-content>
</ion-view>