<ion-view title="优惠券使用确认">
    <ion-nav-bar class="bar-energized bar bar-header nav-bar nav-title-slide-ios7 disable-user-behavior">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-left" return></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <section class="myCoupon_Detailed">
            <main class="content"><!-- 主体内容 -->
                <div class="rowOne" style="border:none;">
                    <div class="list">
                        <label class="item item-input">
                            <span class="input-label">兑换码：</span>
                            <input type="text" placeholder="输入商家优惠券兑换码">
                        </label>
                    </div>
                </div>
                <div class="rowTwo_two">
                    商家确认码，请联系管理员获得，确认使用后请依照优惠券信息给予客户优惠抵扣
                </div>
                <div class="rowFive">
                    <button class="button button-block">确定领取</button>
                </div>
                <div class="rowThree">
                    <ul>
                        <li><label>消费抵扣：</label><span class="money">￥100.00</span></li>
                        <li><label class="label_merchant">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商家：</label><span class="mer_name">商家名称</span></li>
                    </ul>
                </div>
                <div class="rowFour" style="border:none;">
                    <ul>
                        <li><label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地址：</label><span>展示信息</span><span class="icon_icon icon-right ion-chevron-right common-btn-clear-border"></span></li>
                        <li><label>联系电话：</label><span>0281344443</span> <span class="icon_icon icon ion-ios7-telephone common-btn-clear-border"></span></li>
                        <li><label>&nbsp;&nbsp;&nbsp;有效期：</label><span>859349544</span></li>
                        <li><label>使用条件：</label><span>消费100元使用抵扣</span></li>
                        <li class="li_last"><label class="label_in">其他说明：</label><p>房间啊了辣的发对方的发的发发的V上放的V发的V发的地方vsd阿的看法看绿卡的烦恼辣的南方</p></li>
                    </ul>
                </div>
            </main><!-- 主体内容 end -->
        </section>
    </ion-content>
</ion-view>