<ion-view title="我的优惠券">
    <ion-nav-bar class="bar-energized bar bar-header nav-bar nav-title-slide-ios7 disable-user-behavior">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-left" return></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <section class="myCoupon_Index">
            <main class="content"><!-- 主体内容 -->
                <div class="row_tabs">
                    <ul>
                        <li>已领取优惠券</li>
                        <li class="li_active">商家优惠券</li>
                    </ul>
                </div>
                <div class="getCoupon orange">
                    <ul>
                        <div class="item item-input item-select common-col-radius">
                            <div class="input-label">
                                选择商家
                            </div>
                            <select>
                                <option value="全部">全部</option>
                                <option value="全部">全部</option>
                            </select>
                        </div>
                        <li>
                            <div class="coupon_left">
                                <p class="coupon_home">商家：中粮御岭湾美食</p>
                                <p class="coupon_name">我是优惠券</p>
                                <a class="button">点击领取</a>
                            </div>
                            <div class="coupon_right">
                                <p class="fav">优惠</p>
                                <p class="money">￥10.00</p>
                                <p class="consume">消费100元可用此券</p>
                                <p class="time">有效期：2010-09-30 12:12:12</p>
                            </div>
                            <div class="explain">本优惠券仅限于线下消费使用</div>
                        </li>
                        <li>
                            <div class="coupon_left">
                                <p class="coupon_home">商家：中粮御岭湾美食</p>
                                <p class="coupon_name">我是优惠券</p>
                                <a class="button">点击领取</a>
                            </div>
                            <div class="coupon_right">
                                <p class="fav">优惠</p>
                                <p class="money">￥10.00</p>
                                <p class="consume">消费100元可用此券</p>
                                <p class="time">有效期：2010-09-30 12:12:12</p>
                            </div>
                            <div class="explain">本优惠券仅限于线下消费使用</div>
                        </li>
                    </ul>
                </div>
            </main><!-- 主体内容 end -->
        </section>
    </ion-content>
</ion-view>