<ion-view title="{{Title}}">
    <ion-nav-bar class="bar-energized bar bar-header nav-bar nav-title-slide-ios7 disable-user-behavior">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-left" return></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="b-c-f5">
        <section class="zy_Around zy_Information">
            <main class="content">
                <!-- 主体内容 -->
                <div class="rowOne">
                    <a ng-repeat="i in infomationList" class="item item-thumbnail-left" ui-sref="base.tabs.zx_information_Details({id:i.ManageID,typeid:i.TypeID})">
                        <img ng-src="{{[i.PicUrl,true] | imgZoom}}" ng-cache>
                        <p class="p_one">{{::i.Title}}</p>
                        <p class="p_two">{{::i.CreateTime | SubstringDate}}</p>
                        <i class="ion-ios-arrow-right f-2 c-2"></i>
                    </a>
                    <div ng-show="GetInformationManageListError">
                        <div class="padding text-center">
                            <button class="button-block button button-small button-clear">暂时没有资讯信息</button>
                        </div>
                    </div>
                  <article class="padding" ng-show="noData">
                    <button class="button button-clear button-small c-2 f-09 button-block" ng-click="loadMoreData()">点击加载更多...</button>
                </article>
                </div>

            </main><!-- 主体内容 end -->
        </section>
    </ion-content>
</ion-view>