<ion-view title="户型评鉴">
    <ion-nav-bar class="bar-energized bar bar-header nav-bar nav-title-slide-ios7 disable-user-behavior">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-left" return></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <section class="zy_Appreciate_Detailed">
            <main class="content"><!-- 主体内容 -->
                <div class="row">
                    <ul>
                        <h4>户型名称...</h4>
                        <p>2014-11-21 12:12:12</p>
                    </ul>
                </div>
                <div class="rowOne">
                    <img ng-src="../styles/private/images/banner.jpg" ng-cache >
                </div>
            </main>
        </section>
    </ion-content>
</ion-view>