<ion-view title="购房进度查询">
    <ion-nav-bar class="bar-energized bar bar-header nav-bar nav-title-slide-ios7 disable-user-behavior">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-left" return></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <section class="gf_Subscribe">
            <main class="content"><!-- 主体内容 -->
                <div class="row">
                    <dl>
                        <dd class="Description ng-binding">项目名称</dd>
                        <dd class="Description">物业地址：</dd>
                        <dd class="Description ng-binding">当前状态：<span class="shop">已收房</span></dd>
                    </dl>
                </div>
                <div class="rowTwo">
                    <p>亲爱的业主：</p>
                </div>
                <div class="rowThree">
                    <ul>
                        <li><a ui-sref="base.tabs.ykh_MyWarrant" class="button">查看我的权证</a></li>
                        <li><a class="btnThree button">加入物业</a></li>
                    </ul>
                </div>
            </main>
        </section>
    </ion-content>
</ion-view>