<ion-view title="我的佣金">
    <ion-nav-bar class="bar-energized bar bar-header nav-bar nav-title-slide-ios7 disable-user-behavior">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-left" return></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <section class="qm_myCommission_Index common1">
            <main class="content"><!-- 主体内容 -->
                <div class="row row1">
                    <div class="col col-50 active common-fontSize18" id="oDiv1"><a ng-href="#">
                        <span>￥230000</span><br>可结算
                    </a></div>
                    <div class="col col-50 common-fontSize18" id="oDiv2"><a ng-href="#">
                        <span>￥230000</span><br>已结算</a></div>
                </div>
                <div class="row3">
                    <button class="button button-block common-fontSize18 comment-button-oranged common-col-radius">申请结算</button>
                </div>
                <div class="content has-header ionic-pseudo row2">
                    <div class="list">
                        <a class="item item-avatar" ng-href="#">
                            <img ng-src="../styles/private/img/renwu1.jpg" ng-cache>
                            <h2>客户姓名</h2>
                            <p>
                                2014-12-12 12:00:00 <span class="common-whiteRed">已到访</span><br>
                                <span class="common-colorBlack">佣金提成：</span><span class="common-colorRed">+￥10.00</span>
                            </p>
                        </a>
                        <a class="item item-avatar" ng-href="#">
                            <img ng-src="../styles/private/img/renwu1.jpg" ng-cache>
                            <h2>客户姓名</h2>
                            <p>
                                2014-12-12 12:00:00 <span class="common-whiteRed">已签约</span><br>
                                <span class="common-colorBlack">佣金提成：</span><span class="common-colorRed">+￥10.00</span>
                            </p>
                        </a>
                        <a class="item item-avatar" ng-href="#">
                            <img ng-src="../styles/private/img/renwu1.jpg" ng-cache>
                            <h2>客户姓名</h2>
                            <p>
                                2014-12-12 12:00:00 <span class="common-whiteRed">已到访</span><br>
                                <span class="common-colorBlack">佣金提成：</span><span class="common-colorRed">+￥10.00</span>
                            </p>
                        </a>
                        <a class="item item-avatar" ng-href="#">
                            <img ng-src="../styles/private/img/renwu1.jpg" ng-cache>
                            <h2>客户姓名</h2>
                            <p>
                                2014-12-12 12:00:00 <span class="common-whiteRed">已到访</span><br>
                                <span class="common-colorBlack">佣金提成：</span><span class="common-colorRed">+￥10.00</span>
                            </p>
                        </a>
                    </div>
                </div>
            </main>
        </section>
    </ion-content>
</ion-view>