<ion-view title="我要推荐">
    <ion-nav-bar class="bar-energized bar bar-header nav-bar nav-title-slide-ios7 disable-user-behavior">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-left" return></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <section class="qm_sendFriends_Index common">
            <main class="content"><!-- 主体内容 -->
                <div class="row row1 common-marginTop44">
                    <div class="col col-50" id="oDiv1"><a ng-href="#">推荐好友</a></div>
                    <div class="col col-50 active" id="oDiv2"><a ng-href="#">分享朋友圈</a></div>
                </div>
                <div class="row row2">
                    <div class="row2-content common-col-radius">
                        <img ng-src="../styles/private/img/renwu1.jpg" ng-cache>
                        <input type="text" placeholder="留言你想说的话"/>
                    </div>
                </div>
                <div class="row3">
                    <div class="item item-input item-select common-col-radius">
                        <div class="input-label">
                            推荐项目
                        </div>
                        <select>
                            <option value="点击选择">点击选择</option>
                        </select>
                    </div>
                    <div class="list list-inset list2">
                        <label class="item item-input">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;留言
                            <input type="tel" placeholder="备注">
                        </label>
                    </div>
                    <button class="button button-block common-fontSize18 comment-button-oranged common-col-radius">点击发送到朋友圈</button>
                </div>
                <div class="row row4">
                    <ul class="common-ul-inlineblock">
                        <li>
                            <div class="row4-div"><img ng-src="../styles/private/img/renwu1.jpg" ng-cache></div>
                        </li>
                        <li>
                            <div class="row4-div"><img ng-src="../styles/private/img/renwu1.jpg" ng-cache></div>
                        </li>
                        <li>
                            <div class="row4-div"><img ng-src="../styles/private/img/renwu1.jpg" ng-cache></div>
                        </li>
                        <li>
                            <div class="row4-div"><img ng-src="../styles/private/img/renwu1.jpg" ng-cache></div>
                        </li>
                    </ul>

                </div>
                <div class="row row4 row5">
                    <ul class="common-ul-inlineblock">
                        <li>
                            <div class="row4-div1">朋友圈</div>
                        </li>
                        <li>
                            <div class="row4-div1">微信好友</div>
                        </li>
                        <li>
                            <div class="row4-div1">新浪微博</div>
                        </li>
                        <li>
                            <div class="row4-div1">QQ</div>
                        </li>
                    </ul>
                </div>
                <div class="row row6">
                    <button class="button button-block common-fontSize18 common-col-radius">取消</button>
                </div>
            </main><!-- 主体内容 end -->
        </section>
    </ion-content>
</ion-view>