<ion-view title="佣金发放历史">
    <ion-nav-bar class="bar-energized bar bar-header nav-bar nav-title-slide-ios7 disable-user-behavior">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-left" return></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <section class="qm_settleCommisHistory_Index common1">
            <main class="content"><!-- 主体内容 -->
                <div class="row row1 common-marginTop44">
                    <div class="col col-50 common-fontSize18" id="oDiv1"><a ng-href="#">
                        <span>￥230000</span><br>可结算
                    </a></div>
                    <div class="col col-50 common-fontSize18 active" id="oDiv2"><a ng-href="#">
                        <span>￥230000</span><br>已结算</a></div>
                </div>
                <div class="content has-header ionic-pseudo row2">
                    <div class="list">
                        <a class="item" ng-href="#">
                            2014-12-12 12:00:00 &nbsp;&nbsp;申请提现&nbsp;&nbsp;￥10000.00<br>
                            <span class="common-colorRed">等待申请</span>
                        </a>
                        <a class="item" ng-href="#">
                            2014-12-12 12:00:00 &nbsp;&nbsp;申请提现&nbsp;&nbsp;￥10000.00<br>
                            <span class="common-colorBlue">发放成功</span>
                        </a>
                        <a class="item" ng-href="#">
                            2014-12-12 12:00:00 &nbsp;&nbsp;申请提现&nbsp;&nbsp;￥10000.00<br>
                            <span class="common-colorBlue">发放成功</span>
                        </a>
                        <a class="item" ng-href="#">
                            2014-12-12 12:00:00 &nbsp;&nbsp;申请提现&nbsp;&nbsp;￥10000.00<br>
                            <span class="common-colorBlue">发放成功</span>
                        </a>
                    </div>
                </div>
            </main>
        </section>
    </ion-content>
</ion-view>