<ion-view title="购物车">
    <ion-nav-bar class="bar-energized bar bar-header nav-bar nav-title-slide-ios7 disable-user-behavior">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-left" return></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <section class="qm_exchangeOrderSuccess_Index common2 common5">
            <main class="content"><!-- 主体内容 -->
                <div class="row row1">
                    <img ng-src="../styles/private/images/r-1.png" ng-cache>
                </div>
                <div class="row row2">
                    <div class="row2-content common-col-radius">操作提示：兑换成功！</div>
                </div>
                <div class="row row3">
                    <ul class="common-ul-inlineblock">
                        <li>
                            <a ng-href="zzl_ShopMyOrder.html" class="button button-small button-balanced">查看我的订单</a>
                        </li>
                        <li>
                            <a ng-href="zzl_ShopIntegralOrder.html" class="button button-small button-balanced">继续兑换</a>
                        </li>
                        <div class="common-clear"></div>
                    </ul>
                </div>
            </main>
        </section>
    </ion-content>
</ion-view>