<ion-view title="兑换订单详细">
    <ion-nav-bar class="bar-energized bar bar-header nav-bar nav-title-slide-ios7 disable-user-behavior">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-left" return></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <section class="jf_orderDetails_Index common7">
            <header class="bar-energized bar bar-header"><!-- 头部内容 -->
                <div class="buttons right-buttons"><a class="button icon-left ion-chevron-left common-btn-clear-border"></a></div>
                <h1 class="title ng-binding" style="left: 44px; right: 44px;">兑换订单详细</h1>
            </header><!-- 头部内容 end -->
            <main class="content"><!-- 主体内容 -->
                <div class="row1 common-marginTop44">
                    <div class="row1-top">
                        <span class="icon ion-document"></span>
                        <span class="words">确认订单<br>兑换积分：240</span>
                    </div>
                    <div class="list">

                        <div class="item">
                            <span class="icon ion-location"></span>
                            <div class="item-left">
                                收货人：会员名<br>
                                收货地址：点击编辑...
                            </div>
                            <div class="item-right">17283947834</div>
                        </div>
                    </div>
                    <div class="list list1">

                        <a class="item">
                            <span class="icon ion-spoon"></span>
                            <div class="item-left">
                                物流信息<br>
                                物流实时信息跟踪...<br>
                                <span>2012-12-12 12:12:12</span>
                            </div>
                            <div class="item-right item-right1">
                                <span class="icon-right ion-chevron-right common-btn-clear-border"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row2">订单信息</div>
                <div class="row3">
                    <div class="list">
                        <div class="item">
                            <img ng-src="../styles/private/img/renwu1.jpg" ng-cache>
                            <div class="item-left">
                                产品名称产品名称产品名称产品名称产品
                                产品名称产品名称产品名称产品名称产品名称
                                产品名称产品名称产品名称名称产品名称产品名称产品名称产品名称产品名称产品名称
                            </div>
                            <div class="item-right">1&nbsp;x&nbsp;<span class="common-whiteRed">12积分</span></div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="item">
                            <img ng-src="../styles/private/img/renwu1.jpg" ng-cache>
                            <div class="item-left">
                                产品名称产品名称产品名称产品名称产品
                                产品名称产品名称产品名称产品名称产品名称
                                产品名称产品名称产品名称名称产品名称产品名称产品名称产品名称产品名称产品名称
                            </div>
                            <div class="item-right">1&nbsp;x&nbsp;<span class="common-whiteRed">12积分</span></div>
                        </div>
                    </div>
                    <div class="list list2">
                        <div class="common-whiteRed">订单合计：￥&nbsp;240.00</div>
                    </div>
                    <div class="list list3">
                        <ul>
                            <li>
                                <a ng-href="#">
                                    <div class="onlineQQ common-circle">
                                        <span class="icon ion-compass"></span>
                                    </div>
                                    <div class="qqWords">在线QQ</div>
                                </a>
                            </li>
                            <li>
                                <a ng-href="#">
                                    <div class="onlineQQ common-circle">
                                        <span class="icon ion-ios7-telephone"></span>
                                    </div>
                                    <div class="qqWords">在线QQ</div>

                                </a>
                            </li>
                            <div class="common-clear"></div>
                        </ul>
                    </div>
                    <div class="row2">
                        订单编号：2325798437534<br>
                        订单提交时间：2012-12-12 12:12:12
                    </div>
                    <a ng-href="#" class="button button-small button-light">删除订单</a>
                </div>
            </main>
        </section>
    </ion-content>
</ion-view>