<ion-view title="积分商城">
    <ion-nav-bar class="bar-energized bar bar-header nav-bar nav-title-slide-ios7 disable-user-behavior">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-left" return></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <section class="jf_IntegralList_Index common6">
            <header class="bar-energized bar bar-header"><!-- 头部内容 -->
                <div class="buttons right-buttons"><a class="button icon-left ion-chevron-left common-btn-clear-border"></a></div>
                <h1 class="title ng-binding"></h1>
                <a ng-href="" class="button button-small button-energized myorder">我的订单</a>
            </header><!-- 头部内容 end -->
            <main class="content"><!-- 主体内容 -->
                <div class="row row1 common-marginTop44 common-colorWhite">
                    <div class="row1-content">
                        你当前可用的积分：<span class="useIntegral">10000分</span>
                    </div>
                </div>
                <div class="row row2">
                    <div class="row2-left">全部产品</div>
                    <div class="row2-right">
                        <select class="common-col-radius">
                            <option>--选择分类--</option>
                        </select>
                        <a ng-href="" class="button button-small button-energized myorder">兑换规则</a>
                    </div>
                </div>
                <div class="row row3">
                    <ul>
                        <li>
                            <a ng-href="#">
                                <img class="p-pic" ng-src="../styles/private/img/onlineMan.jpg" alt="产品图片" ng-cache>
                                <p>医药箱收到了控股反对速度就疯了似的</p>
                                <div>兑换积分：<b class="common-whiteRed">50</b></div>
                            </a>
                        </li>
                        <li>
                            <a ng-href="#">
                                <img class="p-pic" ng-src="../styles/private/img/onlineMan.jpg" alt="产品图片" ng-cache>
                                <p>医药箱收到了控股反对速度就疯了似的</p>
                                <div>兑换积分：<b class="common-whiteRed">50</b></div>
                            </a>
                        </li>
                        <li>
                            <a ng-href="#">
                                <img class="p-pic" ng-src="../styles/private/img/onlineMan.jpg" alt="产品图片" ng-cache>
                                <p>医药箱收到了控股反对速度就疯了似的</p>
                                <div>兑换积分：<b class="common-whiteRed">50</b></div>
                            </a>
                        </li>
                        <li>
                            <a ng-href="#">
                                <img class="p-pic" ng-src="../styles/private/img/onlineMan.jpg" alt="产品图片" ng-cache>
                                <p>医药箱收到了控股反对速度就疯了似的</p>
                                <div>兑换积分：<b class="common-whiteRed">50</b></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </main>
        </section>
    </ion-content>
</ion-view>