<ion-view title="在线预存">
    <ion-nav-bar class="bar-energized bar bar-header nav-bar nav-title-slide-ios7 disable-user-behavior">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-left" return></button>
        </ion-nav-buttons>
    </ion-nav-bar>
	<ion-content class="zzl_StoredDetails_Tabs b-c-f5 ngTabs">
        <div class="tabs-striped tabs-background-stable tabs-top tabs-color-light">
            <div class="tabs">
                <a class="tab-item active" tabs data-id="tabs1">
                    预存余额
                </a>
                <a class="tab-item" tabs data-id="tabs2">
                    充值记录
                </a>
            </div>
        </div>
        <div class="tabsTop">
            <!--<div id="tabs1" class="ngTab">-->
                <!--<ul class="list-1">-->
                    <!--<li>-->
                        <!--<a ui-sref="base.tabs.zzl_StoredDetails_Info" class="padding row">-->
                            <!--<div class="col-50 Description">预存项目名称预存项目名称预存项目名称</div>-->
                            <!--<div class="col-25 text-center c-4">￥100.00</div>-->
                            <!--<div class="col-25 text-right">去充值<i class="ion-ios-arrow-right c-2"></i></div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a ui-sref="base.tabs.zzl_StoredDetails_Info" class="padding row">-->
                            <!--<div class="col-50 Description">预存项目名称预存项目名称预存项目名称</div>-->
                            <!--<div class="col-25 text-center c-4">￥100.00</div>-->
                            <!--<div class="col-25 text-right">去充值<i class="ion-ios-arrow-right c-2"></i></div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a ui-sref="base.tabs.zzl_StoredDetails_Info" class="padding row">-->
                            <!--<div class="col-50 Description">预存项目名称预存项目名称预存项目名称</div>-->
                            <!--<div class="col-25 text-center c-4">￥100.00</div>-->
                            <!--<div class="col-25 text-right">去充值<i class="ion-ios-arrow-right c-2"></i></div>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div id="tabs2" class="ngTab">-->
                <!--<ul class="list-2">-->
                    <!--<li>-->
                        <!--<a ng-href="" class="clearfix row padding">-->
                            <!--<div class="explain col-67 text-left">-->
                                <!--<span>预存项目名称</span>-->
                                <!--<span class="c-2 f-08">缴费成功</span>-->
                                <!--<time class="c-2">收据号：121231231</time>-->
                            <!--</div>-->
                            <!--<div class="explain col-33 text-center">-->
                                <!--<span>冲抵</span>-->
                                <!--<strong class="c-4 f-12">￥1000.00</strong>-->
                                <!--<time class="c-2">2014-12-12</time>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a ng-href="" class="clearfix row padding">-->
                            <!--<div class="explain col-67 text-left">-->
                                <!--<span>预存项目名称</span>-->
                                <!--<span class="c-2 f-08">缴费成功</span>-->
                                <!--<time class="c-2">收据号：121231231</time>-->
                            <!--</div>-->
                            <!--<div class="explain col-33 text-center">-->
                                <!--<span>充值</span>-->
                                <!--<strong class="c-4 f-12">￥1000.00</strong>-->
                                <!--<time class="c-2">2014-12-12</time>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
                <div class="padding text-center">
                    <button class="button-block button button-small button-clear">此功能暂未开启</button>
                </div>
        </div>
	</ion-content>
</ion-view>