<ion-view title="订单确认">
    <ion-nav-bar class="bar-energized bar bar-header nav-bar nav-title-slide-ios7 disable-user-behavior">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-left" return></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <section class="jf_integralOrder_Index common7">
            <main class="content"><!-- 主体内容 -->
                <form action="#" method="post">
                    <div class="row1 common-marginTop44">
                        <div class="item item-icon-left">
                            <!--<div class="item item-icon-left">-->
                            <div class="item-left1">
                                <div>收货人:&nbsp;&nbsp;会员名</div>
                                <div>联系电话:&nbsp;&nbsp;12545665325</div>
                                <div>收货地址:&nbsp;&nbsp;默认获取第一个物业地址</div>
                            </div>
                            <span class="icon-right ion-chevron-right common-btn-clear-border"></span>
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="row2">订单信息</div>
                    <div class="list">
                        <div class="item">
                            <img ng-src="../styles/private/img/renwu1.jpg" ng-cache>
                            <div class="item-left">
                                产品名称产品名称产品名称产品名称产品
                                产品名称产品名称产品名称产品名称产品名称
                                产品名称产品名称产品名称名称产品名称产品名称产品名称产品名称产品名称产品名称
                            </div>
                            <div class="item-right">1&nbsp;x&nbsp;<span class="common-whiteRed">12积分</span></div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="item">
                            <img ng-src="../styles/private/img/renwu1.jpg" ng-cache>
                            <div class="item-left">
                                <!--<label>-->
                                产品名称产品名称产品名称产品名称产品
                                产品名称产品名称产品名称产品名称产品名称
                                产品名称产品名称产品名称名称产品名称产品名称产品名称产品名称产品名称产品名称
                                <!--</label>-->
                            </div>
                            <div class="item-right">1&nbsp;x&nbsp;<span class="common-whiteRed">12积分</span></div>
                        </div>
                    </div>
                    <div class="list row3">
                        <button class="button button-block common-fontSize18 common-col-radius">查看更多订单信息</button>
                        <div class="common-whiteRed">订单合计：240积分</div>
                    </div>
                    <div class="list row3 row4">
                        <div class="common-colorBlue">您当前可用积分：1000</div>
                    </div>
                    <div class="row5">
                        <button class="button button-block common-fontSize18 comment-button-oranged common-col-radius">确定兑换</button>
                    </div>
                </form>
            </main>
        </section>
    </ion-content>
</ion-view>