<ion-view title="购物车">
    <ion-nav-bar class="bar-energized bar bar-header nav-bar nav-title-slide-ios7 disable-user-behavior">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-left" return></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <section class="jf_exchangeCart_Index common-list">
            <main class="content"><!-- 主体内容 -->
                <div class="row1 common-marginTop44">
                    <div class="row1-top row4">
                        <a class="item item-thumbnail-left" ng-href="#">
                            <img ng-src="../styles/private/img/renwu1.jpg" ng-cache>
                            <div class="row1-top-left">
                                <label>产品名称产品名称产品名称产品名称产品
                                    产品名称产品名称产品名称产品名称产品名称
                                    产品名称产品名称产品名称名称产品名称产品名称产品名称产品名称产品名称产品名称
                                </label>
                            </div>
                            <div class="row1-top-right common-whiteRed">12积分</div>
                        </a>
                    </div>
                    <div class="row1-bottom">
                        <div class="row1-bottom-left">小计：<label class="common-whiteRed">12积分</label></div>
                        <div class="row1-bottom-right">
                            <ul>
                                <li class="nums sign">-</li>
                                <li class="nums">1</li>
                                <li class="nums sign">+</li>
                            </ul>
                            <span class="icon ion-trash-a"></span>
                        </div>
                        <div class="common-clear"></div>
                    </div>
                </div>
                <div class="row1">
                    <div class="row1-top row4">
                        <a class="item item-thumbnail-left" ng-href="#">
                            <img ng-src="../styles/private/img/renwu1.jpg" ng-cache>
                            <div class="row1-top-left">
                                <label>产品名称产品名称产品名称产品名称产品
                                    产品名称产品名称产品名称产品名称产品名称
                                    产品名称产品名称产品名称名称产品名称产品名称产品名称产品名称产品名称产品名称
                                </label>
                            </div>
                            <div class="row1-top-right common-whiteRed">12积分</div>
                        </a>
                    </div>
                    <div class="row1-bottom">
                        <div class="row1-bottom-left">小计：<label class="common-whiteRed">12积分</label></div>
                        <div class="row1-bottom-right">
                            <ul>
                                <li class="nums sign">-</li>
                                <li class="nums">1</li>
                                <li class="nums sign">+</li>
                            </ul>
                            <span class="icon ion-trash-a"></span>
                        </div>
                        <div class="common-clear"></div>
                    </div>
                </div>
                <div class="row2">
                    <div class="row2-content common-col-radius">
                        <div class="common-whiteRed">合计：100积分</div>
                        <div class="common-colorBlue">您当前可用积分：1000</div>
                    </div>
                </div>
                <div class="row3">
                    <button class="button button-block common-fontSize18 comment-button-oranged common-col-radius">确定下单</button>
                </div>
            </main>
        </section>
    </ion-content>
</ion-view>